@font-face {
  font-family: allura;
  src: url(../fonts/Allura-Regular.ttf);
}
body {
  min-height: 100vh;
  background: black center/cover;
}
/* #side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: #09fbba;
  top: 0;
  left: 0px;
  transition: 0.5s ease-out;
  z-index: 4;
} */
.toggle-btn {
  display: none;
  position: fixed;
  top: 30px;
  left: 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background: blanchedalmond;
  display: block;
  margin-top: 5px;
  transition: 0.3s ease;
}

.navbar {
  display: flex;
  flex-direction: row;
}
nav {
  z-index: 2;
  width: 100%;
  position: fixed;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
  font-family: "allura";
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: blanchedalmond;

  text-shadow: 11px 7px 4px black;
}
li {
  transition: 1s;
}
li:hover {
  transform: scale(1.5);
  transition: 1s ease;
}

.logocomplet {
  margin-top: 150px;
}
.logo {
  width: 250px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(30px 10px 8px black);
}
h1 {
  margin: 0;
  text-align: center;
  font-family: "allura";
  font-size: 3.5rem;

  background: linear-gradient(#b58114, #f8e891);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation {
  width: 90%;
  margin: 0 auto;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  font-size: 1.2rem;

  color: blanchedalmond;
}
@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
}
