body {
  /* min-height: 100vh; */
  height: 200vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
}
.logopage {
  border: black 1px solid;

  background: #000000cf;
  width: 100%;
  height: 32vh;
  position: fixed;
  top: 76px;
  z-index: 5;
}
.logopage img {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  height: 40%;
}
.logopage p {
  margin: 10px;
  padding: 0;
  text-align: center;
  font-family: "lora";
  color: blanchedalmond;
  font-size: 1.2rem;
}
.general {
  position: absolute;
  top: 350px;
}
p a {
  font-family: "lora";
  color: #e5b061;
  font-size: 1.2rem;
}
p a:hover {
  transform: scale(1.5);
  transition: 1s ease;
}
h3 {
  margin-top: 50px;
  color: blanchedalmond;
  text-align: center;
  font-family: "lora";
  text-decoration: underline;
  font-size: 1.5rem;
}

.menu {
  position: relative;
  /* top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exterieur,
.sdb,
.cuisine,
.mobilier {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: #f8e891 2px solid;
  padding: 10px;
  margin: 20px;
  text-align: center;
  animation: textanim 4s infinite alternate;
  font-family: "lora";
  font-size: 0.8rem;
}
h2 {
  cursor: pointer;
  padding: 10px 35px 10px 35px;
  /* margin: 0 auto; */
  padding: 0;
}
#appui {
  background: url(../images/pierres/vignetteappli.png) center/ cover;
}
#bal {
  background: url(../images/pierres/vignettebal.png) center/ cover;
}
#chapeau {
  background: url(../images/pierres/vignettechapeau.png) center;
}
#dallage {
  background: url(../images/pierres/vignettedallage.png) center/cover;
}
#dessusmu {
  background: url(../images/pierres/vignettedessusmu.png) center/cover;
}
#entourageporte {
  background: url(../images/pierres/vignetteentourageporte.png) center/cover;
}
#escaliermarche {
  background: url(../images/pierres/vignetteescaliermarche.png) center/cover;
}
#frise {
  background: url(../images/pierres/vignettefrise.png) center/cover;
}
#linteau {
  background: url(../images/pierres/vignettelinteau.png) center/ cover;
}
#margelle {
  background: url(../images/pierres/vignettemargelle.png) center/cover;
}
#pierrebatiment {
  background: url(../images/pierres/vignettepierrebatiment1.png) center/cover;
}
#soubassement {
  background: url(../images/pierres/vignettesoubassement.png) center/cover;
}
#tablebanc {
  background: url(../images/pierres/vignettetablebanc.png) center/cover;
}
#vasque {
  background: url(../images/pierres/vignettevasque.png) center/cover;
}
#baignoire {
  background: url(../images/pierres/vignettebaignoire.png) center/cover;
}
#receveur {
  background: url(../images/pierres/vignettereceveur.png) center/cover;
}
#evier {
  background: url(../images/pierres/vignetteevier.png) center/cover;
}
#pdt {
  background: url(../images/pierres/vignettepdt.png) center/cover;
}
#gravure {
  background: url(../images/pierres/vignettegravure.png) center/cover;
}
#creation {
  background: url(../images/pierres/vignettecreation.png) center/cover;
}
#brique {
  background: url(../images/pierres/vignettebrique.png) center/cover;
  position: relative;
}
#brique a {
  position: absolute;
  right: -100px;
  font-family: lora;
  font-size: 0.9rem;
  color: #e5b061;
}

#croix {
  visibility: hidden;
  color: blanchedalmond;
  position: absolute;
  z-index: 100;
  left: 15px;
  top: 30px;
  font-size: 2rem;
}

/** img-carousel **/
#imgages-carousel {
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  border: blanchedalmond 5px solid;
  border-radius: 20px;
  background-color: black;
  align-items: center;
  justify-items: center;
  padding: 40px 0px;
  height: 65vh;
  width: 600px;
}
.img-carousel-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-carousel {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 5px;
  height: 100%;
  width: 100%;
}
.img-carousel div {
  flex: none;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  position: relative;
}
.img-carousel div img {
  height: 100%;
  width: auto;
  object-fit: cover;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}
.img-carousel div p {
  position: absolute;
  top: 0;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.img-carousel-container button {
  position: absolute;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  border: none;
  background-color: rgba(255, 193, 7, 0.7);
  color: #000;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}
#prev {
  left: 10px;
}
#next {
  right: 10px;
}
.img-carousel-container:hover button {
  opacity: 1;
}
.img-carousel-container button:hover {
  background-color: #ffc107;
}

/** custom scrollbar **/
.img-carousel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.img-carousel::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
  visibility: hidden;
}
.img-carousel::-webkit-scrollbar-track {
  background: transparent;
}
.img-carousel-container:hover .img-carousel::-webkit-scrollbar-thumb {
  visibility: visible;
}

@media screen and (max-width: 700px) {
  .general {
  }
  .h2 {
    margin-right: 0;
    margin-left: 0;
    width: 150px;
  }

  /** img-carousel portable **/
  #imgages-carousel {
    width: 300px;
    height: 40vh;
  }
  .img-carousel div img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    width: 90%;
  }

  h3 {
    font-size: 1.2rem;
  }
  .logopage {
    top: 30px;
  }
  .logopage p {
    font-size: 0.9rem;
  }
  .logopage a {
    font-size: 0.9rem;
  }
}

@keyframes textanim {
  from {
    color: blanchedalmond;
  }
  to {
    color: black;
  }
}
@media screen and (max-width: 480px) {
  .general {
    /* top: 100px; */
  }
}
