@font-face {
  font-family: allura;
  src: url(../fonts/Allura-Regular.ttf);
}
body {
  min-height: 100vh;
  background: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style: none;
  font-family: "allura";
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: blanchedalmond;
}
li:hover {
  transform: scale(1.5);
}
.logo {
  text-align: center;
  margin: 70px auto;
}
img {
  width: 20%;
}
h2 {
  text-align: center;

  font-size: 1.5rem;
  color: red;
  margin-top: 80px;
}
p,
h3 {
  text-align: center;

  font-size: 1.5rem;
  color: rgb(252, 217, 165);
  /* margin-top: 30px; */
}
.plan {
  display: flex;
  justify-content: center;
}
.planmobile {
  display: none;
}
.tel {
  font-size: 1.8rem;
}
.formulaire {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* border: 1px red solid */
}
.email,
.sujet {
  color: blanchedalmond;
  font-size: 1.3rem;
}
input {
  height: 30px;
  width: 200px;
}
.button {
  background: black;
  color: blanchedalmond;
  font-size: 0.9rem;
  justify-content: center;
  width: 100px;
  border: 1px blanchedalmond solid;
  box-shadow: blanchedalmond 3px -2px 7px 0px;
  border-radius: 10px;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}
label {
  color: blanchedalmond;
}
@media screen and (max-width: 900px) {
  .logo {
    margin: 20px auto;
    width: 100%;
  }
  img {
    width: 70%;
  }
  p,
  h3 {
    margin-top: 20px;
  }
  .plan {
    display: none;
  }
  .planmobile {
    display: flex;
    justify-content: center;
  }
  .formulaire {
    display: block;
    justify-content: center;
  }
  .form {
    display: block;
    width: 100%;
  }
  .gauche {
    display: block;
    text-align: center;
    position: relative;
  }
  .email,
  .sujet {
    color: blanchedalmond;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .button {
    background: black;
    color: blanchedalmond;
    font-size: 0.9rem;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 250px;
    left: 50%;
    width: 80px;
    border: 1px blanchedalmond solid;
    box-shadow: blanchedalmond 3px -2px 7px 0px;
    border-radius: 10px;
  }
  .message {
    display: block;
    text-align: center;

    font-size: 1.2rem;
  }
  textarea {
    height: 100px;
  }
  label {
    color: blanchedalmond;
  }
}
