@font-face {
  font-family: allura;
  src: url(../fonts/Allura-Regular.ttf);
}
body {
  min-height: 100vh;
  background: black;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-family: "allura";
  font-size: 3.5rem;
  color: rgb(252, 217, 165);
}
h2 {
  font-family: "allura";
  font-size: 3.5rem;
  color: rgb(252, 217, 165);
}
.realisation {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.popup {
  z-index: 400;
  position: relative;
  transform: translateX(-50%) translateY(-70%);
  left: 50%;
  width: 40%;
  transition: 2s;
  border-radius: 30px;
  text-align: center;
}
.popup img {
  border-radius: 15px;
}
#croix {
  position: absolute;
  right: 1%;
  top: 4%;
  color: blanchedalmond;
  font-size: 2rem;
}
